// E:\asm\apps\dashboard-client\src\layout\Navbar\Navbar.scss
/* Navbar */
.navbar {
    @apply flex items-center justify-between p-1 shadow-lg;
    padding: 0;
    margin: 0;
  
    /* For smaller screens */
    @media (max-width: --max-mobile-width) {
      flex-direction: column;
      align-items: flex-start;
    }
  
    /* Left side */
    .logo {
      display: flex;
      align-items: center;
      gap: 1rem;
      .logo-link {
        @apply text-xl font-semibold;
      }
    }
  
    /* Right side (Navbar items) */
    &__links {
      @apply hidden sm:flex items-center gap-8; /* Hide on mobile */
      gap: 1rem;
  
      @media (max-width: --max-mobile-width) {
        @apply flex-col; /* Change to column layout for mobile */
      }
    }
  
    /* Mobile Menu Button */
    .navbar__toggle {
      display: block;
      @apply sm:hidden;
      cursor: pointer;
    }
  
    .navbar__toggle .bar {
      width: 25px;
      height: 3px;
      margin: 5px auto;
    }
  
    /* Mobile Menu */
    &__menu {
      @apply sm:hidden;
      display: none;
    }
  
    .navbar__open {
      display: block;
    }
  }
  
/* Mobile View: Hamburger menu is shown on small screens */
@media (max-width: --max-mobile-width) {
    .navbar {
      @apply flex-col; /* Stack navbar items vertically */
    }
  
    .navbar__logo {
      @apply mb-4; /* Add margin for logo */
    }
  
    .navbar__links {
      @apply flex-col items-center; /* Stack links for mobile */
    }
  
    /* Hamburger Button should only be visible on small screens */
    .sm:hidden {
      display: block;
    }
  
    /* Collapse menu on large screens */
    .menuOpen {
      display: none;
    }
  }