// E:\asm\apps\dashboard-client\src\layout\Footer\Footer.scss
/* Footer */
footer {
    @apply p-3 text-center;
    width: 100%;
    @apply mt-auto; /* Push footer to the bottom */
    background-color: var(--bg-primary);
    text-align: center;
    border-top: 1px solid var(--color-primary);
    transition: background-color var(--transition-speed),
      color var(--transition-speed), border-color var(--transition-speed);
    border-top: 1px solid var(--color-success);
  } 